@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ms+Madi&family=Nabla&family=Rokkitt:wght@800&display=swap');

/*
    font-family: 'Bungee Spice', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'Nabla', cursive;
    font-family: 'Rokkitt', serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Orbitron', sans-serif;
*/

/* body *{
    outline: 2px dashed lime;
} */

html, body, h1, h2, h3, ul, ol{
    margin: 0;
    padding: 0;
}

html{
    /* 
        내부 아이디 요소로 스크롤 위치 이동 시 스크롤 애니메이션 처리가 되도록
        설정하는 속성. html에 셋팅하면 전체 페이지 스크롤에 적용된다
        (JS사용없이 하는 방법)
     */
    scroll-behavior: smooth;
}

body{
    /* height: 3000px; */
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공통 클래스 */
/* 메탈소재1 배경 */
.mt1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 메탈소재2 배경 */
.mt2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

/* 빛이 나는 로봇 */
.brRo, .brRo::after, .brRo::before{
    /* 박스 그림자 : x y blur spread 색 */
    box-shadow: 0 0 10px 5px cyan, 0 0 20px 10px rgb(13, 39, 39);
    /* 박스 그림자를 밝은색으로 주면 빛나는 효과를 줄 수 있음 */
}

/* 1. 상단영역 */
.logo{
    position: fixed;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    color: aquamarine;
    font: 45px/200px 'Nabla';
    border: 2px solid #ccc;
    border-radius: 500%;
    text-align: center;
    background: rgb(191, 104, 241) url(../images/robot_03.png) no-repeat center 10px/160px;
    text-shadow: 2px 2px 2px #000;
    box-shadow: inset 0 0 20px 5px #000, 0 0 20px 5px rgb(30, 90, 168);
}

.link{
    position: absolute;
    top: 100px;
    right: 50px;
}

.link a{
    color: greenyellow;
    text-decoration: none;
    font: 50px 'Ms Madi';
}

.link a:hover{
    color: red;
    text-decoration: underline;
    font: 60px 'Ms Madi';
}

.btnTop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    border: 5px outset aqua;
}

.btnTop:hover{
    background-color: rgb(255, 170, 73);
    border-style: inset;
}

.btnTop a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(0, 107, 32);
    font: 30px/90px 'Ms Madi';
    /* 
        line-height가 높이값인 100px이 아니고 90px인 이유는 버튼요소가
        기본적으로 box-sizing:border-box이다
        이것은 패딩과 보더가 내부에 포함된다
        보더크기가 5px이므로 높이값 100px안에 5px+5px=10px이 포함되어서
        10px을 뺀 90px로 설정한다
    */
}

.btnTop a:hover{
    color: rgb(2, 202, 62);
}

/* 2-1. 로봇 박스 */
.robx{
    padding: 200px 0 400px;
}

/* 2-1-1. 로봇 머리 */
.head{
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    /* border-radius: 왼위 오른위 오른아래 왼아래 (시계방향) ; */
    border-radius: 50px 50px 0 0;
}

/* 공통 눈 */
.eye{
    position: absolute;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* 둥근 모서리 */
}

/* 왼 눈 */
.e1{
    background-image: url(../images/e1.jpg);
    top:50px;
    left: 50px;
    clip-path:polygon(23% 63%, 17% 57%, 16% 49%, 26% 36%, 35% 30%, 44% 26%,56% 24%, 71% 31%, 82% 43%, 82% 50%, 75% 62%, 62% 71%, 46% 77%);
}
/* 오른 눈 */
.e2{
    background-image: url(../images/e2.jpg);
    top: 50px;
    right: 50px;
    clip-path: polygon( 14% 58%, 18% 47%, 30% 30%, 46% 21%,  66% 22%, 83% 30%, 95% 47%, 77% 63%, 69% 67%, 54% 70%, 32% 66%, 25% 62%, 18% 63%);
}

/* 코 */
.nose{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
    clip-path: polygon(50% 95%, 38% 89%, 21% 90%,14% 86%, 9% 72%, 26% 56%, 38% 10%, 45% 7%, 55% 7%, 63% 9%, 75% 56%, 91% 69%, 92% 80%, 86% 88%, 62% 90%);
}

/* 입 */
.mouth{
    position: absolute;
    top: 180px;
    left: 65px;
    width: 120px;
    height: 50px;
    background: url(../images/mouth.png) no-repeat center/cover;
}

/* 공통 귀 */
.ear{
    position: absolute;
    width: 60px;
    height: 90px;
    top: 80px;
}

/* 왼 귀 */
.ear1{
    left: -60px;
    border-radius: 30px 0 0 30px;
}

/* 오른 귀 */
.ear2{
    right: -60px;
    border-radius: 0 30px 30px 0;
}

/* 몸통 */
.body{
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 250px;
    height: 310px;
}

.body::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(#888, #222);
}

/* 목 */
.neck{
    position: absolute;
    top: -50px;
    left: 95px;
    width: 60px;
    height: 50px;
}

/* 공통 팔 */
.arm{
    position: absolute;
    width: 50px;
    height: 250px;
    /* 배경셋팅변경 */
    background-size: 100%;
    background-repeat: repeat-y;
}

.arm::before{
    content: '';
    /* 블록요소 느낌! */
    display: block;
    /* 앱솔루트 */
    position: absolute;
    bottom: -25px;

    width: 70px;
    height: 70px;
    /* 둥근모서리: 원 */
    border-radius: 50%;

    
    /* 
    [ 배경이미지에 있다! 뭐가? 그라데이션이!!! ]
    background-image : 선형/원형 그라데이션 설정;
    1. 선형 그라데이션
    linear-gradient(방향/각도, 색1 비율%, 색2 비율%,...)
    1) 방향값 : to top / to bottom / to left / to right
    2) 각도값 : 숫자deg -> deg는 degree에서 나온말!
    -> 방향 또는 각도를 사용, 안쓰면 to bottom이 기본값
    -> 색상을 쓰고 뒤에 필요한 경우 비율을 사용
    -> 색상뒤에 비율을 안쓰면 등분할 됨 

    2. 원형 그라데이션
    radial-gradiient(옵션, 색1 비율%, 색2 비율%,...)
    1) 옵션 circle - 원형, 안쓰면 박스 크기에 맞춤
    2) 세밀한 옵션 : 특정위치를 중심으로 빛반사효과
        ->>> 세부 옵션 at 가로 위치 세로 위치
        ->>> 세부 옵션 종류 4가지:
            (1) closest-side    (2) farthest-side
            (3) closest-corner  (4) farthest-corner
        ex) backgound-image:
            redial-gradient(closest-side at 30px 15px,white,blue)
            -> 가로 세로 위치는 px/% 단위 사용 가능

    -> 색상을 쓰고 뒤에 필요한 경우, 비율을 사용
    -> 섹상 뒤에 비율을 안쓰면 등분할 됨
    */

    /* 선형 그라데이션 */
    background-image: 
    /* linear-gradient(red,blue); */
    /* linear-gradient(to right,red,blue); */
    /* linear-gradient(to left,red 5%,blue 20%,blue 80%,yellow); */
    /* linear-gradient(45deg,red,blue,yellow); */
    /* radial-gradient(red,blue,yellow); */
    /* radial-gradient(circle,red,blue,yellow); */
    radial-gradient(farthest-side at 40% 40% ,white,#333);
}

.arm.a1::before{
    left: -15px;
}

.arm.a2::before{
    right: -15px;
}

/* 가상요소로 손 그림자 */
.arm::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -25px;
    width: 20px;
    height: 40px;
    background-color: #000;
    border-radius: 5px;
    /*
        클리핑 기법을 사용하여 그림자를 삼각형으로 만들자!
        -> 다각형 클리핑 clip-path: polygon(x1 y1, x1 y1, x1 y1, ...)
        -> 소괄호를 비울 수 없다
        -> 각 좌표는 x, y좌표 하나는 띄어쓰기로 다른 좌표는 컴마로 구분한다!
    */
    clip-path: polygon(0% 100%, 50% 0%,100% 100%);
}

.arm.a1::after{
    left: 10px;
}
.arm.a2::after{
    right: 10px;
}

.leg::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: -6px;
    width: 80px;
    height: 40px;
    border-radius: 30% 30% 0 0;
    border: 1px solid #222;
    border-bottom: 20px solid #000;
    background-image: radial-gradient(farthest-side at 20px 10px, #fff, #333);
}

/* 왼 팔 */
.a1{
    left: -60px;
}

/* 오른 팔 */
.a2{
    right: -60px;
}

/* 공통 다리 */
.leg{
    position: absolute;
    width: 70px;
    height: 300px;
    background-size: 100%;
    background-repeat: repeat-y;
    top: 100%;
}

/* 왼 다리 */
.l1{
    left: 0;
}

/* 오른 다리 */
.l2{
    right: 0;
}

/* 공통 어깨 */
.shd{
    position: absolute;
    width: 90px;
    height: 80px;
    top: -20px;
}

/* 왼 어깨 */
.s1{
    left: -80px;
    border-radius: 50% 0 0 50%;
}

/* 오른 어깨 */
.s2{
    right: -80px;
    border-radius: 0 50% 50% 0;
}

/* tv */
.tv{
    position: absolute;
    left: 11px;
    top: 55px;
    width: 220px;
    height: 150px;
    background: url(../images/tv.jpg) no-repeat center/cover;
    border: 4px ridge rgb(185, 221, 255);
}

.screen{
    position: absolute;
    width: 157px;
    height: 122px;
    top: 8px;
    left: 12px;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

.screen iframe{
    position: absolute;
    top: -10px;
    left: -25px;
    border: none;
    width: 213px;
    height: 138px;
}

/* 2-2. 로봇 설명 박스 */
.dcbx{
    /* 최대 가로 크기 */
    max-width: 800px;
    margin: 0 auto;
    /* 하단 공간 */
    margin-bottom: 200px;
    /* 반투명 배경 */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 1px #000;
    padding: 15px 30px;
    border: 3px solid white;
    border-radius: 20px;
    /* 박스 그림자 - 콤마로 연결하면 다중 셋팅 가능 - inset은 내부 그림자*/
    box-shadow: inset 0 0 20px blue, inset 0 0 50px 10px cyan;
}
/* 2-2-1. 제목 */
.dcbx h2{
    /* 스티키 포지션 적용 */
    position: sticky;
    top: 15px;
    text-align: center;
    color: greenyellow;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 20px;
    font-family: 'Rokkitt', serif;
}

/* 2-2-2. 로봇 정보 출처 */
.dcbx small{
    /* inline은 text-align: center;가 적용되지 않아 block으로 변경 */
    display: block;
    text-align: center;
    color: yellow;
    font-size: 12px;
    padding: 10px;
    font-family: 'Rokkitt', serif;
}

/* 2-2-3. 설명 문단 */
.dcbx p{
    font-size: 15px;
    /* 줄 간격 */
    line-height: 1.8;
    /* 글자 간격 */
    letter-spacing: 1px;
    /* 단어 간격 */
    word-spacing: 2px;
    font-family: 'Black Ops One', cursive;

    /* 가독성을 위한 다단설정 */
    /* 다단표시(다중열속성) */

    /* 다중열 개수 */
    column-count: 3;
    /* 다중열 구분선 - border색상과 유사 */
    column-rule: 5px dotted lightgreen;
    /* 다중열 사이 간격 */
    column-gap: 55px;
    /* 양쪽 정렬 justify - 단어 단위로 잘리기 때문에 단어 간격이 일정하지 않고 공백이 많다*/
    text-align: justify;
    /* 단어 깨기 - 1byte문자인 영어는 깨주어야 공백이 생지기 않는다(2byte문자는 상관 없다) */
    word-break: break-all;
    /* 첫 글자 들여쓰기 */
    text-indent: 20px;
}

/* 설명 문단 첫 글자 가상요소로 글자 디자인 변경하기 */
.dcbx p::first-letter{
    font-size: 30px;
    color: hotpink;
    font-weight: bold;
}

/* 3. 하단 영역 */
.info{
    /* 패딩 영역 */
    padding: 50px;
    text-align: center;
    font: 30px 'Bungee Spice';
    text-shadow: 2px 2px 2px #000;
    background-color: rgba(0, 0, 0, 0.486);
}

.info span::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    /* 배경 세부 설정을 한번에 */
    background: pink url(../images/robot_03.png) no-repeat;
    background-position: -12px 0;
    background-size: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;

    /* 인라인요소간 세로 정렬 */
    vertical-align: -5px;
    margin-right: 7px;
}