@charset "utf-8";
/* 보그 PJ 공통디자인 CSS - common.css */
/* 상단영역 + 하단영역 */

/*************** 1. 상단영역 ***************/
#top{
    /* z-index를 위한 position */
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.178);
}

.top{
    min-height: 206px;
}

/* 사이드메뉴 */
.tmenu{
    display: flex;
    max-width: 970px;
    height: 44px;
    margin: 0 auto;
}

/* 플렉스 박스 직계 div 공통 */
.tmenu>div{
    flex: 1;
    /* 등분할 자동 높이 */
}

/* sns박스 */
.sns a{
    width: 16px;
    height: 16px;
    /* .fi에 이미 inline-block 되어있음 */
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    line-height: 16px;

    margin-top: 16px;
    margin-right: 17px;

    transition: opacity .2s;
}
.sns a.fi-twitter{
    font-size: 13px;
}
.sns a.fi-youtube-play{
    font-size: 11px;
}
/* 카카오 이미지 배경 넣기 */
.sns a:last-child{
    background: url(../images/sns_kakao.png) no-repeat center/auto 100%;
}

.smbx{
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto", nbg;
    font-size: 12px;
}

.smbx>li>a{
    display: block;
    padding: 0 13px;
    line-height: 44px;
    color: #747474;
}

/* 사이드 메뉴 상위 첫 번째 li 구분선 */
.smbx>li:first-child{
    border-right: 1px solid #e5e5e5;
}

/* 사이드 메뉴 서브 박스 */
.smsub{
    position: absolute;
    margin-left: 1px;
    border: 1px solid #e5e5e5;
    opacity: 0;
    /* 처음에 높이값 0 */
    height: 0;
    overflow: hidden;
}

.smbx>li:first-child:hover .smsub{
    opacity: 1;
    height: auto;
    /* auto는 트렌지션을 먹지 않는다 */
    /* 트렌지션 오버 시에만 적용 */
    transition: .5s;
}

/* 서브메뉴 a요소 */
.smsub a{
    display: block;
    padding: 7px 10px;
    padding-right: 19px;
    color: #747474;

}
/* 서브 메뉴 마우스 오버 시 */
.smsub a:hover{
    background-color: #fafafa;
    color: #333;
}

/* 사이드 메뉴 상위 첫 번째 a요소 커서 */
.smbx>li:first-child>a{
    cursor: text;
    /* 손가락 -> I 모양 */
    /* 커서 모양값 참고 */
    /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor */
}

/* 로고박스 */
.logo{
    height: 115px;
    text-align: center;
    margin-bottom: 10px;
}
/* GNB박스 */
.gnb{
    font-family: "Roboto Condensed";
    font-size: 16px;
    line-height: 40px;
    min-height: 46px;
}
.gnb ul{
    display: flex;
    /* 수평방향 중앙정렬 */
    justify-content: center;
    flex-wrap: wrap;
}
.gnb li{
    padding-right: 45px;
}
.gnb a{
    transition: color .2s linear;
}
.gnb a:hover{
    color: red;
}

/* 마지막 li padding 제거 */
.gnb li:last-child{
    padding-right: 0;
}
/* 마지막 li a 돋보기 */
.gnb li:last-child a{
    font-weight: bold;
    padding-top: 2px;
}

/************ 슬림 상단 디자인 변경 ************/
/* #top 최상위 박스에 클래스 on을 줘서 적용 */
/* 상단 영역 최상위 고정 */
#top.on{
    position: fixed;
    /* 기본 상단위에 숨김 */
    /* JS가 직접 계산하여 필요 없어짐 */
    /* top: -50px; */
    left: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 5px;
    transition: .4s ease-out;
}

/* 스크롤 방향에 따라 top값 변경 */
/* JS가 직접 계산하여 필요 없어짐 */
/* #top.on.up{
    top:0;
} */

/* 상단 영역 속박스 최소 높이 해제 */
#top.on .top{
    min-height: auto;
}

/* 탑메뉴 제거 */
#top.on .tmenu{
    display: none;
}

/* 탑로고 사진 설정 */
#top.on img{
    width: 100px;
}

/* 탑로고 설정 */
#top.on .logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    height: auto;
    margin-bottom: 0;
}

/* GNB메뉴 설정 */
#top.on .gnb{
    font-size: 14px;
    min-height: 45px;
}

#top.on .gnb li{
    padding-right: 35px;
}

#top.on .gnb li:last-child{
    padding-right: 0;
}
#top.on .gnb a{
    color: #333;
}

 /* 미디어 쿼리 */
 @media screen and (max-width:1420px) {
    #top.on .gnb{
        margin-left: 92px;
    }
}

 @media screen and (max-width:860px){
    #top.on .gub{
        margin-left: 120px;
    }
 }
 
/*************** 2. 하단영역 ***************/
.info{
    min-height: 286px;
    background-color: black;
    padding: 70px;
    box-sizing: border-box;
    font-family: "Roboto", nbg;
}

/* 3-1. 하단로고 */
.blogo{
    text-align: center;
}

/* 3-2. 회사주소 */
.addr{
    color: #747474;
    text-align: center;
    font-size: 11px;
    /* address 기본 이텔릭 해제 */
    font-style: normal;
    margin: 20px 0 10px;
}

/* 3-3. 하단링크 */
.blink{
    display: flex;
    /* flex 수평 방향 중앙 */
    justify-content: center;
    flex-wrap: wrap;
}

.blink a{
    color: #747474;
    font-size: 13px;
    margin: 0 6px;
}

.blink li:last-child a{
    font-weight: bold;
}

/*************** 위로가기 버튼 ***************/
.tbtn{
    position: fixed;
    bottom: -35px; /* 아랫쪽에 나가있음 */
    right: 75px;
    width: 48px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #333;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 12px;
    opacity: 0  ;
    transition: background-color .3s, opacity .3s;
}

/* 위로가기 버튼 보이기 상태 */
.tbtn.on{
    opacity: 1;
    bottom: 0;
}

/* 버튼 오버 시 */
.tbtn:hover{
    background-color: red;
}