@charset "utf-8";
/* 도깨비 PJ 공통모듈 CSS - common.css */
/* 상단 영역, 하단 영역 반복 디자인 */

/* 1. 상단 영역 */
.top{
    height: 200px;
}

/* 2. 메인 영역 */
.cont{
    height: 969px;
}

/* 3. 하단 영역 */
.info{
    height: 271px;
}
